<!DOCTYPE HTML>
<html dir="ltr" lang="en-US">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>SPLN - Movie Suggestion</title>

	<!-- CSS -->
	<link rel="stylesheet" href="static/style.css" type="text/css" />

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>

	<!-- jQuery -->
	<script type="text/javascript" src="static/jquery-1.7.1.min.js"></script>

	<!-- jQuery Easing -->
	<script type="text/javascript" src="static/jquery.easing.1.3.js"></script>

	<!-- Functions -->
	<script type="text/javascript" src="static/functions.js"></script>

	</head>

	<body>

		<div id="full">
			

			<div id="search-form">
				<form class="form-container" action="" method="POST">
					<input name="movie_name" type="text" class="search-field" value="Ex: Titanic ..." />
					<div class="submit-container">
						<input type="submit" value="" class="submit" />
					</div>
				</form>
				<div class="popup">
					<p>Insert film name here.</p>
				</div>
			</div>
		</div>
	</body>
</html>
